<% include ./partials/header %>

<style>
	 body {
	background: #16222a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #16222a, #3a6073); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #16222a, #3a6073); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}
	
	#showDate{
		 color: #cb2d6f;
	}
</style>

<div style="margin-top:40px">

   <div class="row">
		<div class="container">
          <h1 style="text-align: center; color:#fff"> <%=blog.title%></h1>
			
		</div>
	 <hr style="width:30%; color:#fff">
   </div>

   <div class="card mb-3" style="width:500px; margin:0 auto;">
     <img src="<%= blog.image %>" class="card-img-top" alt="..." style="height:350px;">
        <div class="card-body">
          <p class="card-text"><%=blog.body %></p>
	      <p class="card-text"><small  id="showDate"><strong>-<%= blog.created.toDateString() %></strong></small></p>
	      <a class="btn btn-outline-warning" href="/blogs/<%=blog._id%>/edit">Edit</a>
		 
             <form id="delete" action="/blogs/<%=blog._id%>?_method=DELETE" method="POST" >
                <button  class="btn btn-outline-danger" type="submit">Delete</button>
             </form> 
       </div>
    </div>
</div>
 
<% include ./partials/footer %>